<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        <li><a href="{{ "/" | absolute_url }}/">Home</a></li>
        <li><a href="{{ "/ueber-mich" | absolute_url }}">Über mich</a></li>
        <li><a href="{{ "/logo-video-designs" | absolute_url }}">Video / Logo Designs</a></li>
        <li><a href="{{ "/projekte" | absolute_url }}">Projekte</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="#contact" class="button special fit">Kontakt</a></li>
	</ul>
</nav>

